.demo-logo-vertical {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sider-logo {
  height: 45px;
  width: 45px;
  margin-top: 10px;
}

.sider-title {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.sider-font {
  height: 2.5rem;
  width: auto;
  margin: 1rem 0;
}
