.demo-logo-vertical {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sider-logo {
  height: 45px;
  width: 45px;
  margin-top: 10px;
}

.sider-title {
  color: #ffffff;
  margin: 0.5rem 0;
}
