.custom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ant-breadcrumb-link,
.ant-breadcrumb-separator,
.nickname {
  color: #1677ff !important;
  font-weight: bold;
  font-size: 1rem;
}

.ant-dropdown-menu-item {
  line-height: 1rem;
}
