body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.login-container {
  background-color: #f0f2f5;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  margin: 0 auto;
  text-align: center;
}

.ant-card-head-wrapper {
  text-align: center;

  font-size: 1.25rem;
  font-weight: bold;
  color: #1677ff;
}
