html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.login-container {
  background-color: #f0f2f5;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  margin: 0 auto;
  text-align: center;
}

.ant-card-head-wrapper {
  text-align: center;

  font-size: 1.25rem;
  font-weight: bold;
  color: #1677ff;
}

.cancel-button {
  margin-right: 2rem;
}

.green-button {
  background-color: #00b96b;
}

.green-button:hover {
  background-color: #008000 !important;
}

.yellow-button {
  background-color: #f2bd27;
}

.yellow-button:hover {
  background-color: #c29720 !important;
}

.list-card {
  /* height: 40vh; */
  width: 95%;
}

.chart-card {
  /* height: 40vh; */
  width: 95%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.finance-echarts {
  /* overflow: hidden; */
  width: 35vw !important;
  /* height: 35vh !important; */
}
